<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="col-12">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-9 col-lg-8 mx-auto">
                <div class="text-center">
                    <img src="../../assets/logo360.webp" alt="logopagos360" width="50%">
                    <hr>
                </div>
                  <form>
                  <div class="form-floating mb-3">
                    <input autocomplete="off" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Usuario</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input autocomplete="off" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>